@model IEnumerable<JokesWebApp.Models.NewsArticle>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div id="newsarticles">
		@foreach (var item in Model)
		{
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
					<p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
					<a href="/NewsArticles/Details/@Html.DisplayFor(modelItem => item.ID)" class="card-link"> Lees meer...</a>
				</div>
			</div>
		}
	</div>
</div>


